div#footer {
}
div#footer div#footer_left {
	float: left;
	width: 50%;
	text-align: left;
}
div#footer div#footer_middle {
	float: left;
	text-align: center;
}
div#footer div#footer_right {
	float: left;
	width: 50%;
	text-align: right;
	clear: right;
}

